{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Satalia Beer-Test</title>
    <link rel="stylesheet" href="{% static "css/table.css" %}">
    <link rel="stylesheet" href="{% static "css/map.css" %}">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <script>
        var beer_icon = "{% static "images/beer.png" %}";
        var home_icon = "{% static "images/home.png" %}";
				let breweries = [
            {% for location in solution.route %}
              ['{{ location.name }}', {{ location.lat }}, {{ location.long }}],
            {% endfor %}            
        ];
        var home_lat = {{ solution.home_lat }};
        var home_long = {{ solution.home_long }};
    </script> 
  </head>


  <body>
    <h1>Satalia Beer-Test</h1>
    <form action='.' method='POST'> {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Search' class='form-submit-button' />
    </form>

    <div id="map_container"></div>

    <div id="panel">
			<input type="checkbox" id="show-breweries" checked onclick="toggleMarkers();"> Show Breweries
			<input type="checkbox" id="show-path" onclick="toggleLine();"> Show Optimal Path
    </div>

  <h1>Route</h1>
  <p>In total, we have travelled <b>{{ solution.distance_travelled }}km</b>, visiting <b>{{ solution.brewery_count }}</b> different breweries</p>
  <p>It took <b>{{ solution.running_time }}ms</b> to execute the search</p>
  <p>Solution fitness: <b>{{ solution.fitness }}</b> (distance / beer_count)</p>
  <table id="respTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Location</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Distance</th>
      </tr>
    </thead>
    <tbody>
      {% for location in solution.route %}
        <tr>
          <td>{{ location.id }}</td>
          <td>{{ location.name }}</td>
          <td>{{ location.lat }}</td>
          <td>{{ location.long }}</td>
          <td>{{ location.distance }}km</td>
        </tr> 
      {% endfor %}  
    </tbody>
  </table>

  <h1>Beers</h1>
  <p>In total, we have collected <b>{{ solution.beer_count }}</b> different beers</p>
  <table id="respTable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Brewery</th>
        <th>Name</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      {% for beer in solution.beers %}
        <tr>
          <td>{{ beer.id }}</td>
          <td>{{ beer.brewery.name }}</td>
          <td>{{ beer.name }}</td>
          <td>{{ beer.category.name }}</td>
        </tr> 
      {% endfor %}  
    </tbody>
  </table>

  </body>
  <script
  	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwm0bOth-uz2DZiv3rzy6tV3sJhxdpg2Y">
  </script>
	<script src="{% static "js/map.js" %}"></script>
</html>




