{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Satalia | Beer Map</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map_container {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
				width: 80%;
        height: 80%;
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
        var beer_icon = "{% static "images/beer.png" %}";
        var home_icon = "{% static "images/home.png" %}";
				let breweries = [
            {% for brewery in solution %}
              ['{{ brewery.name }}', {{ brewery.lat }}, {{ brewery.long }}],
            {% endfor %}            
        ];
    </script> 
  </head>


  <body>

*
    <form action='.' method='POST'> {% csrf_token %}
        {{ form.as_p }}
        <input type='submit' value='Search' />
    </form>

    <div id="map_container"></div>

    <div id="panel">
			<input type="checkbox" id="show-breweries" checked onclick="toggleMarkers();"> Show Breweries
			<input type="checkbox" id="show-path" onclick="toggleLine();"> Show Optimal Path
    </div>


  </body>
  <script
  	src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwm0bOth-uz2DZiv3rzy6tV3sJhxdpg2Y">
  </script>
	<script src="{% static "js/map.js" %}"></script>
</html>




